*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    height: 100vh;
    background-color: black;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}
a:hover{
    color: orangered;
    
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
}
.navbar .Links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orangered;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: aliceblue;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 360px;
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;

}
.media{
    background-color: crimson;
    color: black;
    padding: 20px;
}
@media screen and (max-width: 650px) {
    .media{
        background-color: tomato;
        color: rgba(0, 0, 0, 0.925);
    }
    .media{
        transform:matrix3d(60deg);
    }
}
@media  screen and (max-width: 900px) {
    .navbar .Links,
    .navbar .action_btn
    {
    display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        margin-left: 50px;
        display: block;
        
    }
    
    
}
